body{
    text-decoration: none;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    
    background-image: url('imgs/john-moeses-bauan-EiwfpX6mh1w-unsplash.jpg');
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 24px;
    box-shadow: 0 1px 10px #003366;
    width: calc(100% - 20px);
    position: relative;
    z-index: 10;
    overflow: hidden;
   
}

.eu{
    width: 550px;
    height: 550px;
    border-radius: 50%;
}

.logo{
    font-size: 36px;
    color: #031f3b ;
}

.link{
    display: flex;
    justify-content: flex-end;
    padding: 5px 10px;
    margin: 0px;
    text-align: center;
    border-radius: 5px;
}


a.linkotherpages{
    margin: 0 5px;
    padding: 10px 30px;
    border-radius: 15px;
    color: #031f3b;
    text-decoration: none;
    transition: background-color 0.5s ease, color 0.3s ease;
}

a.linkotherpages:hover{
    background-color: #031f3b;
    color: #F2F2F2;
    transition: color 0.2s ease;
}

main{
    display: flex;
    width: 99%;
    justify-content: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0px;
    background-size: cover; /* Ajusta a imagem para cobrir a tela */
}
section.principal{ 
    position: relative;
    display: flex;
    width: calc(100% - 20px); 
    height: 550px;
    background-image: url(imgs/jose-reyes-istPaADgnmM-unsplash.jpg);
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin: 80px 20px 70px 20px;
    
    box-shadow: 0 1px 10px #003366;
}

section.principal article.circle{  
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: #f1f1f1;
    border-radius: 50%; 
    width: 650px;
    height: 650px;
    color: rgb(255, 255, 255); 
    font-weight: bold; 
    font-size: 16px; 
    position: relative;
    transition: transform 0.75s ease;
    position: relative;
    z-index: 5;
    
}

article.circle:hover{
    transform: scale(1.25);
}

section.principal article.secundario{
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: #031f3b;
    border-radius: 50%; 
    width: 550px;
    height: 550px;
    font-weight: bold; 
    font-size: 16px; 
    position: absolute; 
}

section.submenu{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff ;
    height: 141px;
    margin: 0px;
    padding: 0px;
    z-index: 10;
    overflow: hidden;
}

#left-descricao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    width: 800px;
}

#left-li{
    padding: 5px 0px 10px 0px;
    font-size: 24px;
}
#tittle{
    font-size: 48px;
    margin: 10px;
}

ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-radius: 10px;
}

li{
    padding: 30px 120px;
}


button{
    all: unset;
    background: none;
    border: none;
    outline: none; 
    padding: 0;
    font: inherit;
    cursor: pointer;
    text-align: center;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease; 
    
}

h2{
    font-size: 2em;
}

p{
    font-size: 1.5em;
}

.kanit-bold{
    margin: 0px;
}

#name{
    font-size: 36px;
}

#text-left{
    display: none;
    position: absolute;
    right: 800px;
    top: 250px;
    width: 20%;
    z-index: 10;
    color: white;
}

#text-right{
    display: none;
    position: absolute;
    left: 200px;
    top: 250px;
    width: 50%;
    z-index: 10;
    color: white;
}

#text-center{
    position: absolute;
    left: 200px;
    top: 275px;
    margin-bottom: 0px;
    width: 20%;
    z-index: 10;
    color: white;
    font-size: 48px;
}

#text-center1{
    position: absolute;
    right: 80px;
    top: 250px;
    width: 25%;
    z-index: 10;
    color: white;
}

button{
    background-color: #003366;
    text-align: center;
}

button#borderleft{
    background-color: #003366;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

button#borderright{
    background-color: #003366;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

button#borderleft:hover{
    
    background-color: transparent;
    color: black;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

button#borderright:hover{
    background-color: transparent;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

button:hover{
    background-color: transparent;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

button.clicked{
    background-color: transparent;
    color: #000000;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

button.clicked#borderright{
    background-color: transparent;
    color: #000000;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

button.clicked#borderleft{
    background-color: transparent;
    color: #000000;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

footer{
    background-color: #003366;
    margin: 0;
    padding: 5px;
    border-radius: 20px;
}

#move{
    transition: transform 0.5s ease;
}

/* Responsividade para o menu */
@media (max-width: 768px) {
    .link {
        display: none; /* Oculta o menu em telas pequenas */
    }

    .menu {
        display: block; /* Torna o ícone de menu visível */
    }
}